.textgreen
  color: #86A23A    
  
img
  max-width: 100%

.desk
  display: block
  @media screen and (max-width: 576px)
    display: none  

.mob
  display: none
  @media screen and (max-width: 576px)
    display: block    

.toys
  margin: 250px 0 0px
  padding: 100px 0
  position: relative
  min-height: 400px
  background-color: #86A23A
  @media screen and (max-width: 576px)
    margin: 100px 0 0px
    padding: 30px 0
  &:after, &::before
    content: ''
    position: absolute
    width: 100%
    height: 200px
    // z-index: +1
    @media screen and (max-width: 1200px)
      display: none
  &:after
    background: url('../img/green-curve-bottom.png') center/contain no-repeat
    bottom: -11%
    @media screen and (max-width: 576px)
      bottom: -115px
  &::before
    top: -170px
    background: url('../img/green-curve-top.png') center/contain no-repeat
    z-index: -1
    @media screen and (max-width: 576px)
      top: -117px
  h2
    font-family: 'Noteworthy'
    font-style: normal
    font-weight: 700
    font-size: 70px
    line-height: 95.5%
    text-align: center
    letter-spacing: -0.01em
    color: #FFFFFF
    @media screen and (max-width: 576px)
      font-size: 26px
  .toysSlider
    overflow: hidden
    .slick-track
      display: flex
  .arrow
    position: absolute
    top: 50%
    z-index: +1
    &-left
      left: 50px
    &-right
      right: 50px
      transform: rotate(180deg)
    .slide
      img
        max-width: 100%
  .leaves 
    position: absolute
    bottom: -200px
    left: 0
    z-index: +1

.applaydu
  position: relative
  padding-top: 80px
  padding-bottom: 150px
  text-align: center
  background: url(../img/app-bg.jpg) bottom/contain no-repeat
  @media screen and (max-width: 576px)
    padding-top: 150px
    padding-bottom: 350px
  &::before
    content: ''
    background: url(../img/leaves-top-left.png) left/contain no-repeat
    width: 400px
    height: 300px
    position: absolute
    top: 0
    left: 0
    z-index: -1
    @media screen and (max-width: 1200px)
      display: none
    @media screen and (max-width: 576px)
      max-width: 100%
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 200px
    background: url('../img/app-top.png') center/contain no-repeat
    bottom: -60px
    left: 0
    @media screen and (max-width: 1200px)
      display: none
    @media screen and (max-width: 576px)
      display: none
  .flamingo
    position: absolute
    right: 0
    top: 100px
    @media screen and (max-width: 576px)
      display: none
  .horse
    position: absolute
    left: 0
    bottom: 50px
    @media screen and (max-width: 576px)
      bottom: -50px
      max-width: 200px
  .applaydulogo
    margin: 0 auto
    @media screen and (max-width: 576px)
      max-width: 100%
  h3
    font-family: 'Noteworthy'
    font-style: normal
    font-weight: 700
    font-size: 27px
    line-height: 178%
    text-align: center
    color: #424242
    @media screen and (max-width: 576px)
      font-size: 18px
      max-width: 300px
      margin: 0 auto
  .video
    max-width: 550px
    margin: 30px auto
    font-family: 'Noteworthy'
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 31px
    text-align: center
    color: #424242
    @media screen and (max-width: 576px)
      font-size: 13px
      line-height: unset
    img
      margin: 10px auto
  .links
    margin: 0 auto
  .mob
    @media screen and (max-width: 576px)
      margin-top: 30px
      display: block
  .step
    @media screen and (max-width: 576px)
      margin: 30px auto

.packs
  padding-top: 80px
  padding-bottom: 80px
  text-align: center
  position: relative
  .heart
    position: absolute
    top: 10%
    left: 5%
    @media screen and (max-width: 576px)
      width: 50px
  h3
    font-family: 'Noteworthy'
    font-style: normal
    font-weight: 700
    font-size: 70px
    line-height: 95.5%
    text-align: center
    letter-spacing: -0.01em
    color: #303030
    @media screen and (max-width: 576px)
      font-size: 30px
  img
    max-height: 500px
    margin: 0 auto
  .text
    font-family: 'Noteworthy'
    font-style: normal
    font-weight: 300
    font-size: 35px
    line-height: 135%
    text-align: center
    letter-spacing: -0.01em
    color: #000000
    @media screen and (max-width: 576px)
      font-size: 22px
  .btn
    background: url('../img/button.png') center/cover no-repeat
    width: 300px
    height: 105px
    text-align: center
    text-decoration: none
    color: #fff
    text-transform: uppercase
    padding: 5px 50px 20px
    margin: 30px auto
    display: flex
    align-items: center
    font-family: "Noteworthy"

.hero
  background: url('../img/bg-1.jpg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  padding-top: 65px
  min-height: 1400px
  min-width: 100%
  @media screen and (min-width: 2000px)
    min-height: 2000px
    padding-top: 200px
  @media screen and (max-width: 767px)
    padding: 0
  .hero_in
    display: flex
    flex-direction: row
    justify-content: center
    @media screen and (max-width: 767px)
      flex-wrap: wrap
    .left
      max-width: 48%
      margin-right: -120px
      @media screen and (max-width: 767px)
        margin: 0
      .text
        max-width: 100%
        margin-top: 70px
        height: 300px
        .more_frends
          font-family: fire
          font-size: 70px
          white-space: nowrap
          color: white
          @media screen and (max-width: 1199px)
            font-size: 50px
          @media screen and (max-width: 514px)
            font-size: 34px
        .more_frends:nth-of-type(1)
          margin-left: 60px
        .more_frends:nth-of-type(2)
          font-size: 75px
          @media screen and (max-width: 1199px)
            font-size: 55px
          @media screen and (max-width: 514px)
            font-size: 36px
        .more_frends:nth-of-type(3)
          margin-left: 30px
      .option
        max-width: 100%
        @media screen and (max-width: 767px)
          margin-top: 120%
          min-width: 100%
        @media screen and (max-width: 414px)
          margin-top: 100%
        .do_it
          max-width: 70%
          margin-left: 50px
          margin-top: 100px
          margin-bottom: 80px
          font-size: 16px
          line-height: 22px
          span
            font-size: 18px
            color: white
          @media screen and (max-width: 767px)
            min-width: 100%
            margin: 0
        a
          margin-top: 20px
          display: block
          img
            max-width: 100%
            @media screen and (max-width: 514px)
              max-width: 60%
    .kids_block
      max-width: 50%
      margin-bottom: 100px
      @media screen and (max-width: 991px)
        margin-top:20%
      @media screen and (max-width: 767px)
        max-width: 70%
        margin-top: 50%
        margin-left: -30%
      @media screen and (max-width: 514px)
        margin-top: 52%
      img
        min-width: 100%
    
.check_list
  margin-top: -200px
  @media screen and (max-width: 767px)
    padding: 0px 15px
  .title
    display: flex
    flex-direction: row
    justify-content: center
    text-align: center
    min-width: 100%
    margin-bottom: 80px
    span
      font-family: 'Obelix'
      font-size: 36px
      max-width: 60%
      color: transparent
      -webkit-background-clip: text
      background-image: linear-gradient(10deg, #6181bf, #9f669f)
      @media screen and (max-width: 767px)
        min-width: 100%
      @media screen and (max-width: 514px)
        font-size: 28px
  a, button
    text-decoration: none
    color: #4b9ddf
  .list_top
    display: flex
    flex-direction: row
    justify-content: space-around
    flex-wrap: wrap
    min-width: 100%
    .step
      font-family: 'Obelix'
      max-width: 50%
      display: flex
      flex-direction: row
      align-items: center
      @media screen and (max-width: 767px)
        min-width: 100%
        justify-content: center
        margin-top: 50px
      span
        color: #424242
        margin-left: 20px
      a
        border-bottom: 4px solid #4b9ddf
      img
        @media screen and (max-width: 514px)
          max-width: 30%
    .see_rules
      display: flex
      flex-direction: column
      align-items: center
      min-width: 100%
      margin-top: 80px
      a
        border-bottom: 1px solid #4b9ddf
    .add_friends
      margin-top: 80px
      display: flex
      flex-direction: row
      align-items: center
      width: 50%
      margin-left: auto
      margin-right: auto
      @media screen and (max-width: 991px)
        flex-wrap: wrap
        justify-content: center
      .more_good
        margin-left: 20px
        margin-bottom: 30px
        span:first-child
          background-image: linear-gradient(10deg, #6181bf, #9f669f)
          font-family: 'Obelix'
          font-size: 36px
          line-height: 110px
          color: transparent
          -webkit-background-clip: text
          white-space: nowrap
          @media screen and (max-width: 514px)
            font-size: 28px
        span:last-child
          display: block
          max-width: 70%
          font-weight: 800
      img
        @media screen and (max-width: 514px)
          max-width: 80%
      img:hover
        cursor: pointer

.hero_two
  background: url('../img/bg-2.jpg')
  background-position: center
  background-size: cover
  margin-top: -150px
  min-height: 1400px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  @media screen and (min-width: 1800px)
    min-height: 2000px
  @media screen and (max-width: 767px)
    padding: 300px 15px
    margin-top: -400px
  .prize
    padding-top: 150px
    display: flex
    flex-direction: row
    justify-content: space-between
    min-width: 100%  
    @media screen and (max-width: 767px)
      flex-wrap: wrap
    .prize_box
      display: flex
      flex-direction: column
      justify-content: flex-start
      width: 45%
      @media screen and (max-width: 767px)
        min-width: 100%
        margin-top: 100px
      .wiper
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        background-image: url('../img/bg_white1.png')
        background-size: 100%
        background-repeat: no-repeat
        min-height: 200px
        margin-bottom: -125px
        min-width: 100%
        padding-bottom: 25px
        @media screen and (max-width: 1199px)
          padding-bottom: 80px
          margin-bottom: -150px
        span
          display: block
          color: transparent
          -webkit-background-clip: text
          background-image: linear-gradient(90deg, #6181bf, #a1679f, #cd7d54)
          font-size: 20px
          font-family: 'Obelix'
          @media screen and (max-width: 1199px)
            font-size: 16px
      .gift
        width: 100%
        height: 505px  
      .prize_descr
        display: flex
        flex-direction: row
        justify-content: space-between
        min-width: 100%
        margin-left: 7%
        @media screen and (max-width: 767px)
          margin: 0
        .descr
          margin-top: 30px
          @media screen and (max-width: 767px)
            margin: 0
          span
            font-family: 'Obelix'
            font-size: 32px
            color: white
            @media screen and (max-width: 767px)
              font-size: 18px
          .descr_down
            display: flex
            flex-direction: row
            justify-content: flex-start
            text-align: start
            margin-top: 30px
            span
              font-size: 20px
              line-height: 26px
              font-family: 'k_helios'
    .prize_box:nth-of-type(1)
      .gift
        width: 100%
        min-height: 505px
    .prize_box:nth-of-type(2)
      .wiper
        background-image: url('../img/bg_white2.png')
        span
          background-image: linear-gradient(150deg, #3e74bb, #ad6ca4)
      
.winner_list
  min-width: 100%
  background: url('../img/bg-3.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  min-height: 1500px
  @media screen and (max-width: 767px)
    padding: 0px 15px
  .list_down
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    @media screen and (max-width: 767px)
      flex-wrap: wrap
      justify-content: center
    .down_text
      display: flex
      flex-direction: column
      align-items: flex-start
      max-width: 60%
      @media screen and (max-width: 767px)
        min-width: 100%
        text-align: center
        align-items: center
      span
        font-family: 'Obelix'
        font-size: 32px
        line-height: 44px
        margin-bottom: 30px
        letter-spacing: 1px
        color: transparent
        -webkit-background-clip: text
        background-image: linear-gradient(10deg, #6181bf, #9f669f)
        @media screen and (max-width: 767px)
          font-size: 16px
          line-height: 18px
      a
        color: #4b9ddf
    img
      max-width: 40%
      @media screen and (max-width: 767px)
        min-width: 60%
        margin-top: 50px
  .winner_in
    background: url('../img/Shape.png')
    background-repeat: no-repeat
    background-position: center
    background-size: 100%
    min-width: 100%
    min-height: 700px
    padding: 40px 100px
    text-align: center
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin: 100px 0
    @media screen and (max-width: 767px)
      padding: 0
      margin: 0
    .winner_card
      min-width: 90%
      .winner_week
        font-size: 34px
        font-family: 'Obelix'
        @media screen and (max-width: 991px)
          font-size: 20px
        @media screen and (max-width: 767px)
          font-size: 14px
      .ticket_info
        display: flex
        flex-direction: row
        justify-content: center
        margin: 40px 0
        @media screen and (max-width: 991px)
          margin: 10px 0px
        span
          display: block
          font-size: 20px
          min-width: 30%
          font-family: 'k_helios'
          font-weight: 900
          @media screen and (max-width: 991px)
            font-size: 14px
          @media screen and (max-width: 767px)
            font-size: 12px
      .winner_name
        display: flex
        flex-direction: row
        justify-content: center
        position: relative
        margin-bottom: 20px
        @media screen and (max-width: 991px)
          margin-bottom: 12px
        span
          min-width: 30%
          color:  #424242
          font-size: 18px
          line-height: 50px
          font-family: 'k_helios'
          font-weight: 900
          @media screen and (max-width: 991px)
            font-size: 14px
          @media screen and (max-width: 767px)
            font-size: 10px
            line-height: 14px
        img
          min-width: 90%
          max-height: 10px
          position: absolute
          bottom: -5px
  .faq
    min-width: 100%
    display: flex
    flex-direction: column
    margin: 80px 0
    max-height: 900px
    min-height: 650px
    @media screen and (max-width: 767px)
      margin: 0
      min-height: 0
    span
      margin-left: auto
      margin-right: auto
      color: #9bc6ec
      font-family: 'Obelix'
      font-size: 32px
      @media screen and (max-width: 767px)
        font-size: 16px
    ul
      margin-top: 30px
      height: 400px
      li
        margin: 10px 0
        @media screen and (max-width: 767px)
          margin: 0
        span
          font-size: 24px
          font-weight: 800
          font-family: ('k_helios')
          @media screen and (max-width: 767px)
            font-size: 12px
        .answer
          overflow: hidden
          height: 0
          p
            font-size: 18px
            line-height: 18px
            color: #9bc6ec
            @media screen and (max-width: 767px)
              font-size: 10px
      li:hover
        cursor: pointer
        .answer
          height: auto

.modal, .error, .modal_check, .modal_id
  visibility: hidden
  min-width: 100%
  z-index: 100
  min-height: 100vh
  position: fixed
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  @media screen and (max-width: 767px)
    padding: 0px 15px
  .modal_in
    background: url('../img/bg_mod.png')
    background-repeat: no-repeat
    background-size: 100%
    min-width: 60%
    margin-left: auto
    margin-right: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 20px
    position: relative
    @media screen and (min-width: 1200px)
      min-height: 500px
    @media screen and (max-width: 767px)
      min-width: 100%
    span
      font-family: 'Obelix'
      font-size: 20px
      font-family: 'Obelix'
      font-size: 20px
      margin-top: 20px
      @media screen and (max-width: 767px)
        margin-top: 0px
        font-size: 16px
    input
      background: url('../img/input.png') 
      background-repeat: no-repeat
      background-size: 100%
      height: 80px
      border: none
      font-family: 'Obelix'
      font-size: 20px
      padding: 0px 10px
      @media screen and (max-width: 767px)
        background-position: center
        height: 65px
        max-width: 70%
        font-size: 14px
    .age
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: center
      min-width: 50%
      height: 50px
      @media screen and (max-width: 767px)
        height: 30px
      span
        font-size: 16px
        margin: 0
        color: #e74010
      input
        border: none
        color: #e74010
        margin-right: 10px
    a,button
      color: white
      min-width: 50%
      margin: 7px 0px
      padding: 15px
      text-align: center
      font-family: 'Obelix'
      font-size: 16px
      text-decoration: none
      @media screen and (max-width: 767px)
        padding: 5px 10px
        font-size: 12px
        margin: 0 0 5px 0
    a
      background: url('../img/load_check.png')
      background-size: 100%
    button
      background: url('../img/btn_send.png')
    .closed
      position: absolute
      right: 45px
      top: 45px
      max-width: 20px  
      @media screen and (max-width: 767px)
        right: 10px
        top: 10px
        max-width: 20px   
    .closed:hover
      cursor: pointer
.error
  visibility: hidden
  .modal_in
    a
      text-decoration-line: underline
      background: none
      color: #4b9ddf
      font-family: 'K_helios'
    .cross
      @media screen and (max-width: 767px)
        max-width: 50%
        margin: 40px 0px
.modal_id
  visibility: hidden
  .modal_in
    display: flex
    .next
      background: url('../img/btn_send.png')
      margin: 10px 
    input
      margin: 10px
.modal_check
  visibility: hidden
  position: fixed
  .modal_in
    display: flex
    .list
      min-width: 70%
      margin-top: 30px
      @media screen and (max-width: 767px)
        margin-top: 10px
      .check_number
        display: flex
        flex-direction: row
        justify-content: space-around
        position: relative
        @media screen and (max-width: 767px)
          margin-top: 7px
        span
          font-family: 'K_helios'
          font-size: 20px
          font-weight: 900
          width: 150px
          @media screen and (max-width: 767px)
            font-size: 14px
        span:first-child
          width: 100px
        .bold_black
          font-weight: 900
        .bold_blue
          color: #4b9ddf
          font-weight: 900
        .bold_red
          color: #de492a
          font-weight: 900
        img
          min-width: 100%
          height: 5px
          position: absolute
          bottom: -6px
    .down
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      max-width: 60%
      margin-top: 20px
      span
        font-family: 'K_helios'   
        font-weight: 900
        text-align: center
        color: #4b9ddf
        margin: 0
        @media screen and (max-width: 767px)
          font-size: 10px
      a
        background: none  
        max-width: 20%
        min-width: unset
        padding: 0
        margin-left: 10px
        img
          max-width: 100%
.show
  visibility: visible
.noscroll
  overflow: hidden
