.textgreen {
  color: #86A23A;
}

img {
  max-width: 100%;
}

.desk {
  display: block;
}
@media screen and (max-width: 576px) {
  .desk {
    display: none;
  }
}

.mob {
  display: none;
}
@media screen and (max-width: 576px) {
  .mob {
    display: block;
  }
}

.toys {
  margin: 250px 0 0px;
  padding: 100px 0;
  position: relative;
  min-height: 400px;
  background-color: #86A23A;
}
@media screen and (max-width: 576px) {
  .toys {
    margin: 100px 0 0px;
    padding: 30px 0;
  }
}
.toys:after, .toys::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 1200px) {
  .toys:after, .toys::before {
    display: none;
  }
}
.toys:after {
  background: url("../img/green-curve-bottom.png") center/contain no-repeat;
  bottom: -11%;
}
@media screen and (max-width: 576px) {
  .toys:after {
    bottom: -115px;
  }
}
.toys::before {
  top: -170px;
  background: url("../img/green-curve-top.png") center/contain no-repeat;
  z-index: -1;
}
@media screen and (max-width: 576px) {
  .toys::before {
    top: -117px;
  }
}
.toys h2 {
  font-family: "Noteworthy";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 95.5%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media screen and (max-width: 576px) {
  .toys h2 {
    font-size: 26px;
  }
}
.toys .toysSlider {
  overflow: hidden;
}
.toys .toysSlider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.toys .arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
}
.toys .arrow-left {
  left: 50px;
}
.toys .arrow-right {
  right: 50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.toys .arrow .slide img {
  max-width: 100%;
}
.toys .leaves {
  position: absolute;
  bottom: -200px;
  left: 0;
  z-index: 1;
}

.applaydu {
  position: relative;
  padding-top: 80px;
  padding-bottom: 150px;
  text-align: center;
  background: url(../img/app-bg.jpg) bottom/contain no-repeat;
}
@media screen and (max-width: 576px) {
  .applaydu {
    padding-top: 150px;
    padding-bottom: 350px;
  }
}
.applaydu::before {
  content: "";
  background: url(../img/leaves-top-left.png) left/contain no-repeat;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .applaydu::before {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .applaydu::before {
    max-width: 100%;
  }
}
.applaydu:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background: url("../img/app-top.png") center/contain no-repeat;
  bottom: -60px;
  left: 0;
}
@media screen and (max-width: 1200px) {
  .applaydu:after {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .applaydu:after {
    display: none;
  }
}
.applaydu .flamingo {
  position: absolute;
  right: 0;
  top: 100px;
}
@media screen and (max-width: 576px) {
  .applaydu .flamingo {
    display: none;
  }
}
.applaydu .horse {
  position: absolute;
  left: 0;
  bottom: 50px;
}
@media screen and (max-width: 576px) {
  .applaydu .horse {
    bottom: -50px;
    max-width: 200px;
  }
}
.applaydu .applaydulogo {
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .applaydu .applaydulogo {
    max-width: 100%;
  }
}
.applaydu h3 {
  font-family: "Noteworthy";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 178%;
  text-align: center;
  color: #424242;
}
@media screen and (max-width: 576px) {
  .applaydu h3 {
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
  }
}
.applaydu .video {
  max-width: 550px;
  margin: 30px auto;
  font-family: "Noteworthy";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  color: #424242;
}
@media screen and (max-width: 576px) {
  .applaydu .video {
    font-size: 13px;
    line-height: unset;
  }
}
.applaydu .video img {
  margin: 10px auto;
}
.applaydu .links {
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .applaydu .mob {
    margin-top: 30px;
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .applaydu .step {
    margin: 30px auto;
  }
}

.packs {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  position: relative;
}
.packs .heart {
  position: absolute;
  top: 10%;
  left: 5%;
}
@media screen and (max-width: 576px) {
  .packs .heart {
    width: 50px;
  }
}
.packs h3 {
  font-family: "Noteworthy";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 95.5%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #303030;
}
@media screen and (max-width: 576px) {
  .packs h3 {
    font-size: 30px;
  }
}
.packs img {
  max-height: 500px;
  margin: 0 auto;
}
.packs .text {
  font-family: "Noteworthy";
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 135%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
}
@media screen and (max-width: 576px) {
  .packs .text {
    font-size: 22px;
  }
}
.packs .btn {
  background: url("../img/button.png") center/cover no-repeat;
  width: 300px;
  height: 105px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 50px 20px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noteworthy";
}

.hero {
  background: url("../img/bg-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 65px;
  min-height: 1400px;
  min-width: 100%;
}
@media screen and (min-width: 2000px) {
  .hero {
    min-height: 2000px;
    padding-top: 200px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding: 0;
  }
}
.hero .hero_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .hero .hero_in {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.hero .hero_in .left {
  max-width: 48%;
  margin-right: -120px;
}
@media screen and (max-width: 767px) {
  .hero .hero_in .left {
    margin: 0;
  }
}
.hero .hero_in .left .text {
  max-width: 100%;
  margin-top: 70px;
  height: 300px;
}
.hero .hero_in .left .text .more_frends {
  font-family: fire;
  font-size: 70px;
  white-space: nowrap;
  color: white;
}
@media screen and (max-width: 1199px) {
  .hero .hero_in .left .text .more_frends {
    font-size: 50px;
  }
}
@media screen and (max-width: 514px) {
  .hero .hero_in .left .text .more_frends {
    font-size: 34px;
  }
}
.hero .hero_in .left .text .more_frends:nth-of-type(1) {
  margin-left: 60px;
}
.hero .hero_in .left .text .more_frends:nth-of-type(2) {
  font-size: 75px;
}
@media screen and (max-width: 1199px) {
  .hero .hero_in .left .text .more_frends:nth-of-type(2) {
    font-size: 55px;
  }
}
@media screen and (max-width: 514px) {
  .hero .hero_in .left .text .more_frends:nth-of-type(2) {
    font-size: 36px;
  }
}
.hero .hero_in .left .text .more_frends:nth-of-type(3) {
  margin-left: 30px;
}
.hero .hero_in .left .option {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .hero .hero_in .left .option {
    margin-top: 120%;
    min-width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .hero .hero_in .left .option {
    margin-top: 100%;
  }
}
.hero .hero_in .left .option .do_it {
  max-width: 70%;
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 16px;
  line-height: 22px;
}
.hero .hero_in .left .option .do_it span {
  font-size: 18px;
  color: white;
}
@media screen and (max-width: 767px) {
  .hero .hero_in .left .option .do_it {
    min-width: 100%;
    margin: 0;
  }
}
.hero .hero_in .left .option a {
  margin-top: 20px;
  display: block;
}
.hero .hero_in .left .option a img {
  max-width: 100%;
}
@media screen and (max-width: 514px) {
  .hero .hero_in .left .option a img {
    max-width: 60%;
  }
}
.hero .hero_in .kids_block {
  max-width: 50%;
  margin-bottom: 100px;
}
@media screen and (max-width: 991px) {
  .hero .hero_in .kids_block {
    margin-top: 20%;
  }
}
@media screen and (max-width: 767px) {
  .hero .hero_in .kids_block {
    max-width: 70%;
    margin-top: 50%;
    margin-left: -30%;
  }
}
@media screen and (max-width: 514px) {
  .hero .hero_in .kids_block {
    margin-top: 52%;
  }
}
.hero .hero_in .kids_block img {
  min-width: 100%;
}

.check_list {
  margin-top: -200px;
}
@media screen and (max-width: 767px) {
  .check_list {
    padding: 0px 15px;
  }
}
.check_list .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 100%;
  margin-bottom: 80px;
}
.check_list .title span {
  font-family: "Obelix";
  font-size: 36px;
  max-width: 60%;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(10deg, #6181bf, #9f669f);
}
@media screen and (max-width: 767px) {
  .check_list .title span {
    min-width: 100%;
  }
}
@media screen and (max-width: 514px) {
  .check_list .title span {
    font-size: 28px;
  }
}
.check_list a, .check_list button {
  text-decoration: none;
  color: #4b9ddf;
}
.check_list .list_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 100%;
}
.check_list .list_top .step {
  font-family: "Obelix";
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .check_list .list_top .step {
    min-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
}
.check_list .list_top .step span {
  color: #424242;
  margin-left: 20px;
}
.check_list .list_top .step a {
  border-bottom: 4px solid #4b9ddf;
}
@media screen and (max-width: 514px) {
  .check_list .list_top .step img {
    max-width: 30%;
  }
}
.check_list .list_top .see_rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  margin-top: 80px;
}
.check_list .list_top .see_rules a {
  border-bottom: 1px solid #4b9ddf;
}
.check_list .list_top .add_friends {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 991px) {
  .check_list .list_top .add_friends {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.check_list .list_top .add_friends .more_good {
  margin-left: 20px;
  margin-bottom: 30px;
}
.check_list .list_top .add_friends .more_good span:first-child {
  background-image: linear-gradient(10deg, #6181bf, #9f669f);
  font-family: "Obelix";
  font-size: 36px;
  line-height: 110px;
  color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
}
@media screen and (max-width: 514px) {
  .check_list .list_top .add_friends .more_good span:first-child {
    font-size: 28px;
  }
}
.check_list .list_top .add_friends .more_good span:last-child {
  display: block;
  max-width: 70%;
  font-weight: 800;
}
@media screen and (max-width: 514px) {
  .check_list .list_top .add_friends img {
    max-width: 80%;
  }
}
.check_list .list_top .add_friends img:hover {
  cursor: pointer;
}

.hero_two {
  background: url("../img/bg-2.jpg");
  background-position: center;
  background-size: cover;
  margin-top: -150px;
  min-height: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1800px) {
  .hero_two {
    min-height: 2000px;
  }
}
@media screen and (max-width: 767px) {
  .hero_two {
    padding: 300px 15px;
    margin-top: -400px;
  }
}
.hero_two .prize {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
}
@media screen and (max-width: 767px) {
  .hero_two .prize {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.hero_two .prize .prize_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 45%;
}
@media screen and (max-width: 767px) {
  .hero_two .prize .prize_box {
    min-width: 100%;
    margin-top: 100px;
  }
}
.hero_two .prize .prize_box .wiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/bg_white1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 200px;
  margin-bottom: -125px;
  min-width: 100%;
  padding-bottom: 25px;
}
@media screen and (max-width: 1199px) {
  .hero_two .prize .prize_box .wiper {
    padding-bottom: 80px;
    margin-bottom: -150px;
  }
}
.hero_two .prize .prize_box .wiper span {
  display: block;
  color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#6181bf), color-stop(#a1679f), to(#cd7d54));
  background-image: linear-gradient(90deg, #6181bf, #a1679f, #cd7d54);
  font-size: 20px;
  font-family: "Obelix";
}
@media screen and (max-width: 1199px) {
  .hero_two .prize .prize_box .wiper span {
    font-size: 16px;
  }
}
.hero_two .prize .prize_box .gift {
  width: 100%;
  height: 505px;
}
.hero_two .prize .prize_box .prize_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
  margin-left: 7%;
}
@media screen and (max-width: 767px) {
  .hero_two .prize .prize_box .prize_descr {
    margin: 0;
  }
}
.hero_two .prize .prize_box .prize_descr .descr {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .hero_two .prize .prize_box .prize_descr .descr {
    margin: 0;
  }
}
.hero_two .prize .prize_box .prize_descr .descr span {
  font-family: "Obelix";
  font-size: 32px;
  color: white;
}
@media screen and (max-width: 767px) {
  .hero_two .prize .prize_box .prize_descr .descr span {
    font-size: 18px;
  }
}
.hero_two .prize .prize_box .prize_descr .descr .descr_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
  margin-top: 30px;
}
.hero_two .prize .prize_box .prize_descr .descr .descr_down span {
  font-size: 20px;
  line-height: 26px;
  font-family: "k_helios";
}
.hero_two .prize .prize_box:nth-of-type(1) .gift {
  width: 100%;
  min-height: 505px;
}
.hero_two .prize .prize_box:nth-of-type(2) .wiper {
  background-image: url("../img/bg_white2.png");
}
.hero_two .prize .prize_box:nth-of-type(2) .wiper span {
  background-image: linear-gradient(150deg, #3e74bb, #ad6ca4);
}

.winner_list {
  min-width: 100%;
  background: url("../img/bg-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 1500px;
}
@media screen and (max-width: 767px) {
  .winner_list {
    padding: 0px 15px;
  }
}
.winner_list .list_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .winner_list .list_down {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.winner_list .list_down .down_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 60%;
}
@media screen and (max-width: 767px) {
  .winner_list .list_down .down_text {
    min-width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.winner_list .list_down .down_text span {
  font-family: "Obelix";
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(10deg, #6181bf, #9f669f);
}
@media screen and (max-width: 767px) {
  .winner_list .list_down .down_text span {
    font-size: 16px;
    line-height: 18px;
  }
}
.winner_list .list_down .down_text a {
  color: #4b9ddf;
}
.winner_list .list_down img {
  max-width: 40%;
}
@media screen and (max-width: 767px) {
  .winner_list .list_down img {
    min-width: 60%;
    margin-top: 50px;
  }
}
.winner_list .winner_in {
  background: url("../img/Shape.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-width: 100%;
  min-height: 700px;
  padding: 40px 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
}
@media screen and (max-width: 767px) {
  .winner_list .winner_in {
    padding: 0;
    margin: 0;
  }
}
.winner_list .winner_in .winner_card {
  min-width: 90%;
}
.winner_list .winner_in .winner_card .winner_week {
  font-size: 34px;
  font-family: "Obelix";
}
@media screen and (max-width: 991px) {
  .winner_list .winner_in .winner_card .winner_week {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .winner_list .winner_in .winner_card .winner_week {
    font-size: 14px;
  }
}
.winner_list .winner_in .winner_card .ticket_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}
@media screen and (max-width: 991px) {
  .winner_list .winner_in .winner_card .ticket_info {
    margin: 10px 0px;
  }
}
.winner_list .winner_in .winner_card .ticket_info span {
  display: block;
  font-size: 20px;
  min-width: 30%;
  font-family: "k_helios";
  font-weight: 900;
}
@media screen and (max-width: 991px) {
  .winner_list .winner_in .winner_card .ticket_info span {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .winner_list .winner_in .winner_card .ticket_info span {
    font-size: 12px;
  }
}
.winner_list .winner_in .winner_card .winner_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .winner_list .winner_in .winner_card .winner_name {
    margin-bottom: 12px;
  }
}
.winner_list .winner_in .winner_card .winner_name span {
  min-width: 30%;
  color: #424242;
  font-size: 18px;
  line-height: 50px;
  font-family: "k_helios";
  font-weight: 900;
}
@media screen and (max-width: 991px) {
  .winner_list .winner_in .winner_card .winner_name span {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .winner_list .winner_in .winner_card .winner_name span {
    font-size: 10px;
    line-height: 14px;
  }
}
.winner_list .winner_in .winner_card .winner_name img {
  min-width: 90%;
  max-height: 10px;
  position: absolute;
  bottom: -5px;
}
.winner_list .faq {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 80px 0;
  max-height: 900px;
  min-height: 650px;
}
@media screen and (max-width: 767px) {
  .winner_list .faq {
    margin: 0;
    min-height: 0;
  }
}
.winner_list .faq span {
  margin-left: auto;
  margin-right: auto;
  color: #9bc6ec;
  font-family: "Obelix";
  font-size: 32px;
}
@media screen and (max-width: 767px) {
  .winner_list .faq span {
    font-size: 16px;
  }
}
.winner_list .faq ul {
  margin-top: 30px;
  height: 400px;
}
.winner_list .faq ul li {
  margin: 10px 0;
}
@media screen and (max-width: 767px) {
  .winner_list .faq ul li {
    margin: 0;
  }
}
.winner_list .faq ul li span {
  font-size: 24px;
  font-weight: 800;
  font-family: "k_helios";
}
@media screen and (max-width: 767px) {
  .winner_list .faq ul li span {
    font-size: 12px;
  }
}
.winner_list .faq ul li .answer {
  overflow: hidden;
  height: 0;
}
.winner_list .faq ul li .answer p {
  font-size: 18px;
  line-height: 18px;
  color: #9bc6ec;
}
@media screen and (max-width: 767px) {
  .winner_list .faq ul li .answer p {
    font-size: 10px;
  }
}
.winner_list .faq ul li:hover {
  cursor: pointer;
}
.winner_list .faq ul li:hover .answer {
  height: auto;
}

.modal, .error, .modal_check, .modal_id {
  visibility: hidden;
  min-width: 100%;
  z-index: 100;
  min-height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .modal, .error, .modal_check, .modal_id {
    padding: 0px 15px;
  }
}
.modal .modal_in, .error .modal_in, .modal_check .modal_in, .modal_id .modal_in {
  background: url("../img/bg_mod.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .modal .modal_in, .error .modal_in, .modal_check .modal_in, .modal_id .modal_in {
    min-height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .modal .modal_in, .error .modal_in, .modal_check .modal_in, .modal_id .modal_in {
    min-width: 100%;
  }
}
.modal .modal_in span, .error .modal_in span, .modal_check .modal_in span, .modal_id .modal_in span {
  font-family: "Obelix";
  font-size: 20px;
  font-family: "Obelix";
  font-size: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .modal .modal_in span, .error .modal_in span, .modal_check .modal_in span, .modal_id .modal_in span {
    margin-top: 0px;
    font-size: 16px;
  }
}
.modal .modal_in input, .error .modal_in input, .modal_check .modal_in input, .modal_id .modal_in input {
  background: url("../img/input.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80px;
  border: none;
  font-family: "Obelix";
  font-size: 20px;
  padding: 0px 10px;
}
@media screen and (max-width: 767px) {
  .modal .modal_in input, .error .modal_in input, .modal_check .modal_in input, .modal_id .modal_in input {
    background-position: center;
    height: 65px;
    max-width: 70%;
    font-size: 14px;
  }
}
.modal .modal_in .age, .error .modal_in .age, .modal_check .modal_in .age, .modal_id .modal_in .age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 50%;
  height: 50px;
}
@media screen and (max-width: 767px) {
  .modal .modal_in .age, .error .modal_in .age, .modal_check .modal_in .age, .modal_id .modal_in .age {
    height: 30px;
  }
}
.modal .modal_in .age span, .error .modal_in .age span, .modal_check .modal_in .age span, .modal_id .modal_in .age span {
  font-size: 16px;
  margin: 0;
  color: #e74010;
}
.modal .modal_in .age input, .error .modal_in .age input, .modal_check .modal_in .age input, .modal_id .modal_in .age input {
  border: none;
  color: #e74010;
  margin-right: 10px;
}
.modal .modal_in a, .modal .modal_in button, .error .modal_in a, .error .modal_in button, .modal_check .modal_in a, .modal_check .modal_in button, .modal_id .modal_in a, .modal_id .modal_in button {
  color: white;
  min-width: 50%;
  margin: 7px 0px;
  padding: 15px;
  text-align: center;
  font-family: "Obelix";
  font-size: 16px;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .modal .modal_in a, .modal .modal_in button, .error .modal_in a, .error .modal_in button, .modal_check .modal_in a, .modal_check .modal_in button, .modal_id .modal_in a, .modal_id .modal_in button {
    padding: 5px 10px;
    font-size: 12px;
    margin: 0 0 5px 0;
  }
}
.modal .modal_in a, .error .modal_in a, .modal_check .modal_in a, .modal_id .modal_in a {
  background: url("../img/load_check.png");
  background-size: 100%;
}
.modal .modal_in button, .error .modal_in button, .modal_check .modal_in button, .modal_id .modal_in button {
  background: url("../img/btn_send.png");
}
.modal .modal_in .closed, .error .modal_in .closed, .modal_check .modal_in .closed, .modal_id .modal_in .closed {
  position: absolute;
  right: 45px;
  top: 45px;
  max-width: 20px;
}
@media screen and (max-width: 767px) {
  .modal .modal_in .closed, .error .modal_in .closed, .modal_check .modal_in .closed, .modal_id .modal_in .closed {
    right: 10px;
    top: 10px;
    max-width: 20px;
  }
}
.modal .modal_in .closed:hover, .error .modal_in .closed:hover, .modal_check .modal_in .closed:hover, .modal_id .modal_in .closed:hover {
  cursor: pointer;
}

.error {
  visibility: hidden;
}
.error .modal_in a {
  text-decoration-line: underline;
  background: none;
  color: #4b9ddf;
  font-family: "K_helios";
}
@media screen and (max-width: 767px) {
  .error .modal_in .cross {
    max-width: 50%;
    margin: 40px 0px;
  }
}

.modal_id {
  visibility: hidden;
}
.modal_id .modal_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal_id .modal_in .next {
  background: url("../img/btn_send.png");
  margin: 10px;
}
.modal_id .modal_in input {
  margin: 10px;
}

.modal_check {
  visibility: hidden;
  position: fixed;
}
.modal_check .modal_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal_check .modal_in .list {
  min-width: 70%;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .modal_check .modal_in .list {
    margin-top: 10px;
  }
}
.modal_check .modal_in .list .check_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
@media screen and (max-width: 767px) {
  .modal_check .modal_in .list .check_number {
    margin-top: 7px;
  }
}
.modal_check .modal_in .list .check_number span {
  font-family: "K_helios";
  font-size: 20px;
  font-weight: 900;
  width: 150px;
}
@media screen and (max-width: 767px) {
  .modal_check .modal_in .list .check_number span {
    font-size: 14px;
  }
}
.modal_check .modal_in .list .check_number span:first-child {
  width: 100px;
}
.modal_check .modal_in .list .check_number .bold_black {
  font-weight: 900;
}
.modal_check .modal_in .list .check_number .bold_blue {
  color: #4b9ddf;
  font-weight: 900;
}
.modal_check .modal_in .list .check_number .bold_red {
  color: #de492a;
  font-weight: 900;
}
.modal_check .modal_in .list .check_number img {
  min-width: 100%;
  height: 5px;
  position: absolute;
  bottom: -6px;
}
.modal_check .modal_in .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
  margin-top: 20px;
}
.modal_check .modal_in .down span {
  font-family: "K_helios";
  font-weight: 900;
  text-align: center;
  color: #4b9ddf;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .modal_check .modal_in .down span {
    font-size: 10px;
  }
}
.modal_check .modal_in .down a {
  background: none;
  max-width: 20%;
  min-width: unset;
  padding: 0;
  margin-left: 10px;
}
.modal_check .modal_in .down a img {
  max-width: 100%;
}

.show {
  visibility: visible;
}

.noscroll {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */